{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "jest": true
    },
    "plugins": [
        "react",
        "react-hooks"
    ],
    "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"], 
    "rules": {
        "no-unused-vars":1,
        "semi": 1,
        "react/prop-types": 1,
        "react-hooks/rules-of-hooks": "error", // Sprawdza stosowanie zasad hooków
        "react-hooks/exhaustive-deps": "warn" // Sprawdza zależności efektów
  }
}