.content{

}
.content .buttonsWrapper{
  display: flex;
}
/* .content .buttonsWrapper .buttons.button-speed{
  border: yellow;
} */
.content .buttonsWrapper .buttons{
  flex: 1 0;
  margin: 20px;

  border: 1px solid;
  background-color: white;
  border-radius: 125px;
  height: 125px;
  width: 125px;
  /* border: none;
  background: none;
  cursor: pointer; */
}